/* 通用配置 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}


/* 版面统一设置 */

#page {
  width: 95vw;
  margin: 0 auto;
}


/* table 表格统一配置*/

table {
  border-collapse: collapse;
}

td,
th {
  padding: 3px 5px;
  text-align: center;
}


/* form表单统一配置 */

select,
input,
textarea {
  padding: 3px 5px;
  border-radius: 3px;
}

select:focus,
input:focus,
textarea:focus {
  border: #007bff 1px solid;
  outline: #007bff 1px solid;
}

.b-select {
  width: 70px;
  text-align: left;
}

#submit button {
  padding: 3px 8px;
  border-radius: 2px;
  background-color: #007bff;
  color: aliceblue;
  border: none;
}


/* 初始参数 */

#header-left p span {
  margin-right: 6px;
  /* border-bottom: 2px solid pink;
  padding-bottom: 0.5px; */
}


/* 提交区 */

header {
  margin: 10px 0 10px 0;
}

#preview,
#header-left {
  float: left;
  width: 40vw;
}

#pre-submit,
#header-right {
  float: left;
  width: 55vw;
}


/* 提交区 - 头部 */

#select_zoom,
#select_contract,
#select_type,
#select_discription {
  margin-left: 10px;
}

#select_contract {
  width: 75px;
}


/* 表格 - 头部 */

#preview thead tr:first-child {
  background-color: yellow;
}

#pre-submit thead tr:first-child {
  background-color: rgb(95, 95, 235);
}


/* 历史提交区 */

#sub-history {
  margin-top: 20px;
  margin-left: 40vw;
}

#sub-history th,
#sub-history td {
  padding: 1px 10px;
}