/* 通用配置 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}


/* 版面设置 */

#page {
  width: 90vw;
  margin: 0 auto;
}

header {
  margin: 10px 0 10px 0;
}

#preview,
#header-left {
  float: left;
  width: 45vw;
}

#pre-submit,
#header-right {
  float: right;
  width: 45vw;
}


/* table 表格统一配置*/

table {
  border-collapse: collapse;
}

td,
th {
  padding: 3px 5px;
  text-align: center;
}


/* form表单统一配置 */

select,
input,
textarea {
  padding: 3px 5px;
  border-radius: 3px;
}

select:focus,
input:focus,
textarea:focus {
  border: #007bff 1px solid;
  outline: #007bff 1px solid;
}

#submit button {
  padding: 3px 8px;
  border-radius: 2px;
  background-color: #007bff;
  color: aliceblue;
  border: none;
}


/* 单元格间距 */

#select_zoom,
#select_contract,
#select_type,
#select_discription {
  width: 50px;
  margin-left: 10px;
}


/* preview */

#argu h2 {
  text-align: center;
}